<button
  class="button color-{{ block.settings.button_color_scheme }}"
  style="
    --text-size: {{ block.settings.button_text_size }}px;
    --corner-radius: {{ block.settings.corner_radius }}px
  "
>
  {{ block.settings.button_text | default: block.settings.button_text.default }}
</button>

{% stylesheet %}
  .button {
    border: none;
    border-radius: var(--corner-radius);
    width: 169px;
    height: 59px;
    padding: 15px 22px;
    font-size: var(--text-size);
    font-weight: bold;
    background-color: var(--color-button);
    color: var(--color-button-label);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "My Button"
    },
    {
      "type": "range",
      "id": "button_text_size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "label": "Text Size"
    },
    {
      "type": "color_scheme",
      "id": "button_color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "range",
      "id": "corner_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "label": "Corner Radius"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "button"
    }
  ]
}
{% endschema %}
