<div class="description">
  {% content_for 'block', type: 'heading', id: 'heading' %}
  {% content_for 'block', type: 'text', id: 'text' %}
  {% content_for 'block', type: 'button', id: 'button' %}
</div>

{% style %}
  .description {
    height: 296px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .description > :nth-child(3) {
    margin-top: auto;
  }
{% endstyle %}

{% schema %}
{
  "name": "Description",
  "blocks": [
    {
      "type": "heading"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    }
  ],
  "presets": [
    {
      "name": "Description"
    }
  ]
}
{% endschema %}
