<div class="description">
  {% content_for 'block', type: 'heading', id: 'heading' %}
  {% content_for 'block', type: 'text', id: 'text' %}
  {% content_for 'block', type: 'button', id: 'button' %}
</div>

{% style %}
  .description {
    min-height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: {% if block.settings.alignment == 'left' %}flex-start{% elsif block.settings.alignment == 'right' %}flex-end{% else %}center{% endif %};
  }
{% endstyle %}

{% schema %}
{
  "name": "Description",
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "heading"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    }
  ],
  "presets": [
    {
      "name": "Description"
    }
  ]
}
{% endschema %}
