<div>
  {% for block in section.blocks %}
    {% render 'image', image: block.settings.hero_image %}
  {% endfor %}
</div>

{% stylesheet %}
  div > img {
    height: 100vh;
    width: 100vw;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Hero",
  "settings": [],
  "blocks": [
    {
      "type": "hero_image",
      "name": "Hero Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
