<section class="landingproduct-showcase-section">
  <div class="landingproduct-showcase-container">
    <div class="spotlight-description">
      {% content_for 'block', type: 'content-spotlight-description', id: 'description' %}
    </div>
    {% content_for 'block', type: 'image', id: 'spotlight-image' %}
  </div>
</section>

{% style %}
  .landingproduct-showcase-container {
    padding: 128px 0 128px 0;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .spotlight-description {
    max-width: 592px;
  }
{% endstyle %}

{% schema %}
{
  "name": "Product Showcase",
  "blocks": [
    {
      "type": "content-spotlight-description"
    },
    {
      "type": "image"
    }
  ],
  "presets": [
    {
      "name": "Product Showcase"
    }
  ]
}
{% endschema %}
